<!DOCTYPE html>

<html>
<head>
    <title>Inveon Task - @ViewBag.Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("script", false)
</body>
</html>
